h2 {
	color: aqua;
	text-align: center;
}

body {
    background-image: url("6.png");
	background-position:top;
	background-repeat: space;
	background-size: auto;
}

header {
	background-color: #eba8a82f;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}