h2 {
	color: rgb(10, 73, 99);
	text-align: center;
	text-rendering: auto;
}

button {
	text-align: center;
	border-radius: 3;
	margin: auto;
}

body {
    background-image: url('2.jpg');
    background-repeat: no-repeat;
}
